.contact{	
	width: auto;
	height: 622px;
	background: white;
	box-sizing: border-box;
	width: 1170px;
	height: 665px;	
	margin: 50px auto;
	text-align: center;
}
.contact__h1{
	width: 1170px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.contact__h1::after{
	content: "";
	width: 170px;
	display: block;
	height: 1px;
	background-color: #EC7979;
	margin: 0 auto;
}
.contact__description{
	
	width: 1170px;
	height: 21px;
	text-align: center;
	margin: 40px auto 70px;
}
.contact__description-p{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	color: #86878B;
}
@media (max-width: 1024px){
	.contact{
		width: 1024px;
	}
	.contact__description{
		width: 1024px;
	}
	.contact__menublock{
		width: 960px;
		margin-left: 30px;
	}
	.contact__menublock1-cell1 input[type=text],[type=email],[type=password]{
		width: 500px;}
	.contact__menublock2-cell1{
		width: 400px;
	}
}