.footer{
	min-width: 1510px;
	height: 164px;
	margin: auto;
	background-color: #000000;
}
.footer__social {
	padding-top: 35px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.footer__social a{
	width: 53px;
	height: 53px;
	margin-right: 33px;
}
.footer__2015{
	width: auto;
	height: auto;
	margin: 0 0 27px 0;
}
.footer__2015-p{
	color: rgba(255, 255, 255, 0.5);
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
}
@media(max-width: 1024px){
	.footer{
		min-width: 1024px;
	}
}
@media(max-width: 320px){
	.footer{
		min-width: 320px;
	}
	.social__icon-footer{
		width: 26px;
		height: 26px;
	}
	.footer__social a{
		margin-right: 0;
	}
	.footer__social a:first-child{
		margin-left: 10px;
	}
	.footer__social{
		margin: 0 auto;
	}
}