.ta{
	margin: 100px auto 50px;
	width: 1150px;
	height: 540px;
}
.tabs {
	position: relative; /* Относительное позиционирование */
}
.tab, .tab-title {
	display: inline-block; /* Выстраиваем по горизонтали */
	width: 203px;
	height: 40px;
	margin: 0 auto;
}
.tab input[type="radio"] { display: none; }
.tab-title {
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
}
.tab-content {
	position: absolute; /* Абсолютное позиционирование */
	border: 1px solid #C6CBCD; /* Параметры рамки */
	border-radius: 5px;
	border-top-left-radius: 0;
	left: 0; /* Размещаем у левого края */
	width: calc(100% - 20px); /* Ширина содержимого */
	height: 500px;
	display: none; /* Прячем вкладку */
}
.tab :checked + .tab-title {
	position: relative; /* Относительное позиционирование */
	background: #fff; /* Цвет фона */
	top: 1px; /* Сдвигаем вниз */
	z-index: 1; /* Отображаем поверх содержимого */
	border: 1px solid #C6CBCD;/* Параметры рамки */
	border-bottom: none; /* Снизу линию убираем */
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.tab :checked ~ .tab-content {
	display: block; /* Показываем активную вкладку */
}
.gallery__main-info{
	padding: 50px 0 0 100px;
	margin: 0 30px 0 0;
}
.gallery__main-info-h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-align: left;
	margin: 0 0 70px 0;
}
.gallery__main-info-p{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: left;
}
.gallery__main{
	display: flex;
	flex-direction: row;
}
.gallery__main-img{
	height: 498px;
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.gallery__main-div{
	width: 270px;
	height:58px;
}
.gallery__main-btn{
	width: 270px;
	height: 58px;
	background-color: #EC7979;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.gallery__main-btn:hover{
	opacity: 0.6;
}
.gallery__main-btn-font{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: white;
	background: transparent;
	border: 0;
}