.wrappermain{
	width: 100%;
	height: 1026px;
	margin: 0 auto;
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/img/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.container{
	width: 100%;
	min-width: 1510px;
	height: 1026px;
	margin:  0 auto;
	padding: 0;

}	
.container__form{
	background-color: white;
	width: 470px;
	height: 450px;
	border-radius: 7px;
	margin: 207px 170px 293px 0;
}
.form__flex{
	margin: 0 0 0 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}
.contact__form-cell1 {
	width: 370px;
	height: 90px;
	margin: 0 50px 0 50px;
}
.contact__form-cell1-p{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}
.contact__form-cell1-span{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	color: #EC7979;
}
input[type=text]{
	width: 298px;
	height: 38px;
	border: 1px solid #BDBDBD;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: #BDBDBD;
}
.contact__form-cell1-button {
	width: 470px;
	height: 60px;
	background-color: #EC7979;
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-top: 7px;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: white;
	border: none;
}
.contact__form-cell1-button:hover{
	opacity: 0.6;
}
.container__nav {
	width: 100%;
	min-width:1510px;
	height: 76px;
	margin: 0 auto;
	background-color: #000000;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.container__nav-logo{
	width: 87px;
	height: 30px;
	margin-right: 600px;
}

.container__nav-menu {
	list-style-type: none;
	width: 570px ;
	height: 76px;
	text-align: center;
	float: right;
	list-style-position: inside;	
}
.container__nav-menu-a{
	display:block;
	width: 102px;
	line-height: 76px;
	vertical-align: middle;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 14px;
}
.container__nav-menu ul{
	margin: 0 auto;
}
.container__nav-menu-li{
	display: inline-block;
	height: 76px;
	vertical-align: middle;
}
.container__nav-menu-li:hover{
	background-color: #EC7979;
}
.container__mainimage{
	width: 900px;
	height: auto;
	padding-left: 170px;
	margin: 0;
	display: flex;
	flex-direction: column;
}	
.container__mainimage-logo{
	margin: 230px 0 0 0;
	width: 170px;
	height: 55px;
}	
.container__mainimage-aside-p{
	text-align: left;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 500;
	color: white;
	margin-bottom: 0;
}	
.container__mainimage-description-p::before{
	content: "";
	width: 170px;
	display: block;
	height: 1px;
	background-color: white;
	margin: 25px 0;		
}	
.container__mainimage-description {
	width: 270px;
	height: 42px;
	margin: 0 0 65px 0;
}	
.container__mainimage-description-p{
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: left;
	color: white;
}	
.container__mainimage-button {
	width: 270px;	
	height: 58px;
	border:2px solid white ;
	margin: 30px 0 150px 0;
	text-align: center;
	line-height: 58px;
	vertical-align: middle;
}
.container__mainimage-button:hover{
	opacity: 0.6;
}
.container__mainimage-button-a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: white;
}
.hamburger-menu{
	display: none;
}	
#menu__toggle {
	opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}

.menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 20px;
	right: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: white;
	transition-duration: .25s;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}

.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 56px;
	left: -100%;
	width: 320px;
	height: 574px;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	background-color: black;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
	transition-duration: .25s;
}

.menu__item {
	display: block;
	padding: 25px 24px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	transition-duration: .25s;
}
.menu__item:hover {
	background-color: #CFD8DC;
}
@media (max-width: 1024px){
	.container__nav-logo{
	margin-left: 115px;
	}
	.container{
	padding: 0;
	}
.container__nav{
	min-width: 1024px;
	display: flex;
	justify-content: flex-start;
	margin: 0;
}
.container__nav-logo{
	margin-right: 160px;
}
.container__mainimage{
	padding-left: 50px;
	width: 500px;	
}
.form__flex{
	width: 1024px;
}
.container__form{
	background-color: white;
	width: 470px;
	height: 450px;
	border-radius: 7px;
	margin: 207px 30px 293px 0;
}
.container{
	min-width: 1024px;
}
}
@media (max-width: 320px){
	.container__nav-logo{
		margin-left: 20px;
		margin-right: 0px;
	}
	.container__nav{
		min-width: 320px;
		
	}
	.container__nav-menu{
		display: none;
	}
	.container__mainimage-logo{
		display: none;
	}
	.form__flex{
		max-width: 320px;
		height: auto;
		flex-direction: column-reverse;
		margin: 50px 0 0;
	}
	.container__form{
		max-width: 288px;
		margin: 0 16px 100px;
	}
	.container__mainimage{
		max-width: 320px;
		padding-left: 0px;
		align-items: center;
	}
	.container__mainimage-aside-p{
		max-width: 320px;
		text-align: center;
		font-size: 36px;
	}
	.container__mainimage-description-p::before{
		max-width: 320px;
		margin: 25px auto;
	}
	.container__mainimage-button{
		max-width: 320px;
		margin: 30px auto 50px;
	}
	.contact__form-cell1{
		max-width: 288px;
		height: 70px;
		margin: 0;
	}
	.contact__form-cell1-p{
		max-width: 320px;
		text-align: center;
	}
	.container{
		min-width: 320px;
		height: auto;
	}
	.wrapper{
		max-width: 320px;
		height: auto;
	}
	.contact__form-cell1-button{
		max-width: 288px;
	}
	input[type=text]{
		max-width: 240px;
		margin-left: 28px;
	}
	.hamburger-menu{
		display: block;
	}
	.container__form{
		height: 370px;
	}


}