.container{
	width: 1510px;
	height: 1026px;
	margin: auto;
	padding: 0 0 0 170px;
	background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/img/bg.png);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}	
.container__form{
	background-color: white;
	width: 470px;
	height: 450px;
	border-radius: 7px;
	margin: 207px 170px 293px auto;
}
.form__flex{
	margin: 0 0 0 0;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.contact__form-cell1 {
	width: 370px;
	height: 90px;
	margin: 0 50px 0 50px;
}
.contact__form-cell1-p{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}
.contact__form-cell1-span{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
	color: #EC7979;
}
input[type=text]{
	width: 298px;
	height: 38px;
	border: 1px solid #BDBDBD;
	border-top: none;
	border-right: none;
	border-left: none;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: #BDBDBD;
}
.contact__form-cell1-button {
	width: 470px;
	height: 60px;
	background-color: #EC7979;
	text-align: center;
	line-height: 60px;
	vertical-align: middle;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	margin-top: 7px;
}
.contact__form-cell1-button:hover{
	opacity: 0.6;
}
.contact__form-cell1-button-a{
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 15px;
	color: white;
}
.container__nav {
	width: 1510px;
	height: 76px;
	margin: 0 auto 0 -170px;
	padding: 10px 170px 0 0px;
	background-color: #000000;
}
.container__nav-logo{
	display: inline-block;
	margin: 10px 0 0 115px;
}
.container__nav-menu {
	list-style-type: none;
	width: 570px ;
	height: auto;
	text-align: center;
	float: right;
	list-style-position: inside;	
}
.container__nav-menu-a{
	display:block;
	width: 102px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-size: 14px;
}
.container__nav-menu-li{
	display: inline-block;
}
.container__mainimage{
	width: 700px;
	height: auto;
	margin: 0 0 0 0;
}	
.container__mainimage-logo{
	margin: 230px 0 0 0;
}	
.ccontainer__mainimage-aside{
	width: 670px;
	height: 168px;
	margin: 90px 0 0 0;
}	
.container__mainimage-aside-p{
	text-align: left;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 500;
	line-height: 10px;
	color: white;
}	
.container__mainimage-description::before{
	content: "";
	width: 170px;
	display: block;
	height: 1px;
	background-color: white;
	margin: 25px 0;		
}	
.container__mainimage-description {
	width: 270px;
	height: 42px;
	margin: 0 0 65px 0;
}	
.container__mainimage-description-p{
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: left;
	color: white;
}	
.container__mainimage-button {
	width: 270px;	
	height: 58px;
	border:2px solid white ;
	margin: 0 0 200px 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.container__mainimage-button:hover{
	opacity: 0.6;
}
.container__mainimage-button-a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 18px;
	color: white;
}	