.content{	
	background: white;
	box-sizing: border-box;
	width: 1170px;
	height: 665px;	
	margin: 50px auto;
	text-align: center;
}
.content__head{
	width: 1170px;
	height: 150px;
	margin: 0 auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.content__head-p{	
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	text-transform: uppercase;
}
.content__head-h2{
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #86878B;	
}
.main__item-h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	text-align: center;
	line-height: 32px;	
}
.main__item-h4{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	line-height: 21px;
	color: #000000;
}

.content__head::after{	
	content: "";
	width: 170px;
	display: block;
	height: 1px;
	background-color: #EC7979;
	margin: 0 auto;
}
.content__underhead{
	
	width: 1170px;
	height: 21px;
	text-align: center;
	margin: 0 auto 70px;
}
.main
{
	height: 383px;
	width: 1170px;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 71px auto;
}
.main__item
{
	width: 370px;
	height: 383px; 
	margin-right: 30px;
	text-align: center;
	margin: 0 auto;
	justify-content: center;
}